.hero {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 400px);
	gap: 20px;
	margin-top: 20px;
}

.hero article {
	border: solid 1px black;
	background-color: #fcf9ef;
}

.hero .un {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: 1/3;
	grid-row: 1/2;
	border: none;
}

.hero .deux img {
	background-color: #f9b233;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.bento {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(400px, auto);
	gap: 1.1rem;
	margin-top: 3%;
	margin-bottom: 3%;
}

.bento article {
	border: solid 1px black;
	background-color: #fcf9ef;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bento article ul {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	list-style: none;
	text-align: center;
	padding: 0%;
	animation: slideUp 1s ease-out forwards;
}

@media (max-width: 768px) {
	.hero {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 300px);
		gap: 0px;
	}

	.hero .un {
		align-items: center;
		grid-row: 2/3;
	}

	.hero .deux {
		grid-row: 1/2;
	}
	.bento {
		grid-template-columns: repeat(1, 1fr);

		grid-template-rows: repeat(3, auto);
		gap: 1.3rem;
	}
}
