#title_page {
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

h1 {
	text-align: center;
}
#title_page::after {
	width: 20%;
	top: 0;
	left: 63%;
	rotate: 206deg;
	position: absolute;
	content: url(../img/crayon.svg);
}

#title_page::before {
	width: 20%;
	top: 0;
	left: 19%;
	rotate: 346deg;
	position: absolute;
	content: url(../img/crayon.svg);
}

@keyframes defile {
	from {
		translate: 0;
	}
	to {
		translate: -100%;
	}
}

.carousel {
	margin: 6.2rem auto;
	width: 90%;
	margin-top: 2.5rem;
	display: flex;
	overflow: hidden;
	gap: 1.3rem;
}

.element_carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.3rem;
	animation: defile 30s infinite linear;
}

.carte {
	width: 24rem;
	height: 31rem;
}

@media (max-width: 768px) {
	#title_page::after {
		width: 20%;
		top: 0;
		left: 60%;
		rotate: 206deg;
		position: absolute;
		content: url(../img/crayon.svg);
	}

	#title_page::before {
		width: 20%;
		top: 0;
		left: 17%;
		rotate: 346deg;
		position: absolute;
		content: url(../img/crayon.svg);
	}

	.carte {
		width: 18rem;
		height: 25rem;
	}
}

@media (max-width: 450px) {
	#title_page::after {
		width: 20%;
		top: 0;
		left: 80%;
		rotate: 206deg;
		position: absolute;
		content: unset;
	}

	#title_page::before {
		width: 20%;
		top: 1px;
		left: 2px;
		rotate: 346deg;
		position: absolute;
		content: unset;
	}
}
