.haut_de_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background-color: black;
}

.haut_de_page::after {
	position: absolute;
	top: 75%;
	width: 4%;
	right: 50%;
	content: url(../img/sanix_arrow.svg);
}

.haut_de_page span {
	margin-top: 3.1rem;
	margin-left: 1.2rem;
}
.haut_de_page span a {
	color: white;
}
.haut_de_page span,
a:hover {
	color: #f9b233;
}

.galerie {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 300px);
	gap: 1.5rem;
	margin-bottom: 2.5rem;
}
.galerie article {
	border: solid 1px black;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0%;
}

.galerie img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.galerie .un {
	grid-row: 1/3;
}
.galerie .deux {
	grid-row: 1/3;
	grid-column: 2/3;
}

.description_brand {
	color: white;
	background-color: black;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 5.6rem;
}

@media (max-width: 768px) {
	.haut_de_page::after {
		position: absolute;
		top: 75%;
	}
	.galerie {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(5, 300px);
	}

	.galerie .un {
		grid-row: 1/3;
	}
	.galerie .deux {
		grid-row: 3/5;
		grid-column: unset;
	}
}
