.haut_de_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.haut_de_page span {
	margin-top: 3rem;
	margin-left: 1.5rem;
}
.haut_de_page span a {
	color: rgb(0, 0, 0);
}

.description_brand {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 5rem;
}

.galerie {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 300px);
	gap: 1.5rem;
	margin-bottom: 2rem;
}
.galerie article {
	border: solid 1px black;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0%;
}

.galerie img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.galerie video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.galerie .un {
	grid-row: 1/3;
}
.galerie .deux {
	grid-row: 1/3;
	grid-column: 2/3;
}

.galerie .trois {
	grid-row: 1/3;
	grid-column: 3/4;
}

@media (max-width: 768px) {
	.galerie {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 300px);
	}

	.galerie .un {
		grid-row: 1/3;
	}
	.galerie .deux {
		grid-row: 3/5;
		grid-column: unset;
	}
	.galerie .trois {
		grid-row: 5/7;
		grid-column: unset;
	}
}
