.haut_de_page {
	display: flex;
	flex-direction: column;

	justify-content: center;
	position: relative;
}

.haut_de_page span {
	margin-top: 3rem;
	margin-left: 1.5rem;
}
.haut_de_page span,
a:hover {
	color: #f9b233;
}

.haut_de_page::after {
	position: absolute;
	rotate: 230deg;
	top: 54%;
	width: 20%;
	content: url(../img/fleche_snobkerie.svg);
}
.galerie {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 300px);
	gap: 1.5rem;
	margin-bottom: 2.4rem;
}
.galerie article {
	border: solid 1px black;
	background-color: #fcf9ef;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0%;
}

.galerie img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.galerie .un {
	grid-row: 1/3;
}
.galerie .deux {
	grid-row: 1/3;
	grid-column: 2/4;
}

.description_brand {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 3.3rem;
}

@media (max-width: 768px) {
	.galerie {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 300px);
	}

	.galerie .un {
		grid-row: 1/3;
	}
	.galerie .deux {
		grid-row: unset;
		grid-column: unset;
	}
}
