#title_page {
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

#title_page::after {
	width: 20%;
	top: 0;
	left: 68%;
	rotate: 206deg;
	position: absolute;
	content: url(../img/crayon.svg);
}

#title_page::before {
	width: 20%;
	top: 0;
	left: 12%;
	rotate: 346deg;
	position: absolute;
	content: url(../img/crayon.svg);
}

.galerie {
	display: grid;
	margin-bottom: 5%;
	margin-top: 4%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 300px);
	gap: 2%;
}

.galerie a {
	border: solid 1px black;
	background-color: #fcf9ef;
	display: flex;
	align-items: center;
	justify-content: center;
}
.galerie .un {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/boulangerie_fond_resultat.webp);
	background-position: 100%;
	background-size: cover;
}
.galerie .un img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.galerie .deux {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/usine_robot_fond_resultat.webp);
	background-position: 100%;
	background-size: cover;
}
.galerie .deux img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.galerie .trois {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/cassette_fond_resultat.webp);
	background-position: 100%;
	background-size: cover;
}
.galerie .trois img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.galerie .quatre {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/skate_fond_image_resultat.webp);
	background-position: 100%;
	background-size: cover;
}
.galerie .quatre img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.galerie .cinq {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/cafe_fond_resultat.webp);
	background-position: 100%;
	background-size: cover;
}
.galerie .cinq img {
	object-fit: contain;
	width: 60%;
	height: 60%;
}

.galerie .six {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/voiture_fond_resultat.webp);
	background-position: 100%;
	background-size: cover;
}
.galerie .six img {
	object-fit: contain;
	width: 60%;
	height: 60%;
}

.galerie a:hover {
	transform: scale(1.03);
	transition: 0.5s;
}
@media (max-width: 768px) {
	#title_page::after {
		width: 20%;
		top: 0;
		left: 72%;
		rotate: 206deg;
		position: absolute;
		content: url(../img/crayon.svg);
	}

	#title_page::before {
		width: 20%;
		top: 0;
		left: 8%;
		rotate: 346deg;
		position: absolute;
		content: url(../img/crayon.svg);
	}
	.galerie {
		margin-top: 5%;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(7, 300px);
	}
}

@media (max-width: 630px) {
	#title_page::after {
		width: 20%;
		top: 7%;
		left: 85%;
		rotate: 206deg;
		position: absolute;
		content: url(../img/crayon.svg);
	}

	#title_page::before {
		width: 20%;
		top: 7%;
		left: -4%;
		rotate: 346deg;
		position: absolute;
		content: url(../img/crayon.svg);
	}
}

@media (max-width: 450px) {
	#title_page h1 {
		text-align: center;
	}

	#title_page::after {
		width: 20%;
		top: 7%;
		left: 71%;
		rotate: 206deg;
		position: absolute;
		content: unset;
	}

	#title_page::before {
		width: 20%;
		top: 7%;
		left: 9%;
		rotate: 346deg;
		position: absolute;
		content: unset;
	}
}
