#title_page {
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

#title_page::after {
	width: 20%;
	top: 0;
	left: 63%;
	rotate: 206deg;
	position: absolute;
	content: url(../img/crayon.svg);
}

#title_page::before {
	width: 20%;
	top: 0;
	left: 19%;
	rotate: 346deg;
	position: absolute;
	content: url(../img/crayon.svg);
}

@keyframes defile {
	from {
		translate: 0;
	}
	to {
		translate: -100%;
	}
}

.carousel {
	margin: 100px auto;
	width: 90%;
	margin-top: 2.5rem;
	display: flex;
	overflow: hidden;
	gap: 1.3rem;
}

.element_carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	animation: defile 30s infinite linear;
}

.carte {
	width: 25rem;
	height: 31rem;
}

.galerie {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 300px);
	gap: 1.5rem;
	padding-bottom: 5%;
}

.galerie article {
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 4%;
}

.galerie article:hover {
	transform: scale(1.02);
	transition: 0.5s;
}

.galerie img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.2s ease-in-out;
}

.galerie .deux {
	grid-column: 2/4;
	grid-row: 1/3;
}

.galerie .quatre {
	grid-row: 3/5;
}
@media (max-width: 768px) {
	.carte {
		width: 18.7rem;
		height: 25rem;
	}
	.galerie {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(300px);
	}

	.galerie .un {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.galerie .deux {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.galerie .cinq {
		grid-column: 1/2;
		grid-row: 6/8;
	}

	#title_page::after {
		width: 20%;
		top: 0;
		left: 67%;
		rotate: 206deg;
		position: absolute;
		content: url(../img/crayon.svg);
	}

	#title_page::before {
		width: 20%;
		top: 0;
		left: 14%;
		rotate: 346deg;
		position: absolute;
		content: url(../img/crayon.svg);
	}
}

@media (max-width: 450px) {
	#title_page::after {
		width: 20%;
		top: 0;
		left: 67%;
		rotate: 206deg;
		position: absolute;
		content: unset;
	}

	#title_page::before {
		width: 20%;
		top: 0;
		left: 14%;
		rotate: 346deg;
		position: absolute;
		content: unset;
	}
}
